<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="https://bootswatch.com/4/cerulean/bootstrap.min.css">
        <title>{% block title %}{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="/">ExoSalaries</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarColor02">
                <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{{ path('home')}}">Home
                    <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('entreprise_index')}}">Entreprises</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('salarie_index')}}">Salaries</a>
                </li>
                {% if path('entreprise_index') %}
                <li class="nav-item">
                <a class="nav-link" href="{{ path('entreprise_new')}}">Ajouter entreprise</a>
                {% else %}
                <a class="nav-link disabled" href="#">disabled</a>
                {% endif %}
                </li>
                {% if path('salarie_index') %}
                <li class="nav-item">
                <a class="nav-link" href="{{ path('salarie_new')}}">Ajouter salarie</a>
                {% else %}
                <a class="nav-link disabled" href="#">disabled</a>
                {% endif %}
                    
                </li>
                </ul>
                <form class="form-inline my-2 my-lg-0" action="/search">
                <input class="form-control mr-sm-2" type="text" placeholder="Search">
                <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
                </form>
            </div>
        </nav>
        <div class="container">
            {% block body %}{% endblock %}
        </div>
        {% block javascripts %}{% endblock %}
    </body>
</html>
